.left-aligned{text-align: left;}
.center-aligned{text-align: center;}
.right-aligned{text-align: right;}
.has-top-margin{margin-top:30px !important;}
.has-bottom-margin{margin-bottom:30px !important;}
.has-small-top-margin{margin-top:20px !important;}
.has-small-bottom-margin{margin-bottom: 20px !important;}
.has-xsmall-top-margin{margin-top:10px !important;}
.has-xsmall-bottom-margin{margin-bottom: 10px !important;}

.has-clear-fix::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}

.table-display{
    display:table;
    width:100%;
    height: 100%;
}

.table-cell-display{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}