$font_normal: 'Muli';
$font_mafia: 'Mafia';
$font_reset_default: 'Tahoma';
$font_rtl: 'Iran';
$font_size_0:10px;
$font_size_1:11px;
$font_size_2:12px;
$font_size_3:13px;
$font_size_4:14px;
$font_size_5:15px;
$font_size_6:16px;
$font_size_7:17px;
$font_size_8:18px;
$font_size_9:19px;
$font_size_10:20px;
$font_size_big:28px;
$color_1: #fefefe;
$color_2: #3d2626;
$color_3: #8e8e8e;
$color_4: #aeaeae;
$color_5: #5a5a5a;
$color_6: #bebebe;
$color_7: #e6e6e6;
$color_site_1: #323d3c;
$color_site_2: #5cc1a3; 
$color_site_3: #68d897;
$color_site_4: #cbd4d8;
$color_site_5: #394746;
$transparent_black: rgba(0,0,0,.94);
$transparent_black_2: rgba(0,0,0,.88);
$background_color_default: #2e2e2e;
$background_color_main: #1e1e1e;
$background_color_middle: #171717;
$background_color_side: #030303;
$background_color_1: #f0f0f0;
$background_color_2: #ffffff;
$background_color_3: #11b684;
$background_color_4: #090909;
$background_color_5: #e7e7e7;
$background_color_6: #7e7e7e;
$background_color_mafia:#c24949;
$background_color_citizen:#539acb;
$creator_color: #ea852f;
$player_color: #4182e3;
$hint_color: #ddbf30;
$about_color: #11b684;
$black_color: #000000;
$white_color: #ffffff;
$red_color:#c24949;
$purple_color:#6115a1;
$pink_color:#ed8aa5;
$dark_orange_color:#d26509;
$light_red_color:#ff6c6c;
$dark_red_color:#ad3535;
$blue_color: #539acb;
$light_blue_color:#7dbbe6;
$dark_blue_color: #4182e3;
$green_color:#68cb53;
$medium_green_color: #649e1e;
$dark_green_color:#528231;
$mafia_placeholder:#680b00;
$citizen_placeholder:#064770;
$htp_color: #d3843d;
$day: #dfa400;
$night: #252a33;
$night_color:#a0c6ff;
$site_radius: 7px;
$curve_radius: 30px;
$circle_radius: 50%;

$breakpoint_mobile: "only screen and (min-width: 480px)";
$breakpoint_tablet: "only screen and (min-width: 640px)";
$brekapoint_laptop: "only screen and (min-width: 980px)";

$meter_height:78px;