@charset "utf-8";

@font-face{
	font-family:'Mafia';
	src: url('~@/assets/fonts/Mobsters.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Rubik';
	src: url('~@/assets/fonts/Rubik.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Lalezar';
	src: url('~@/assets/fonts/Lalezar.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Iran';
	src: url('~@/assets/fonts/Iran.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

