@charset "utf-8";

@font-face{
	font-family:'Mafia';
	src: url('~@/assets/fonts/Mobsters.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Muli';
	src: url('~@/assets/fonts/Muli.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Iran';
	src: url('~@/assets/fonts/Iran.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

