$font_normal: 'Muli';
$font_mafia: 'Mafia';
$font_reset_default: sans-serif;
$font_rtl: 'Iran';
$font_mafia_rtl: 'Lalezar';
$font_size_0:10px;
$font_size_1:11px;
$font_size_2:12px;
$font_size_3:13px;
$font_size_4:14px;
$font_size_5:15px;
$font_size_6:16px;
$font_size_7:17px;
$font_size_8:18px;
$font_size_9:19px;
$font_size_10:20px;
$font_size_small:22px;
$font_size_medium:24px;
$font_size_big:28px;
$font_size_small_big:34px;
$font_size_medium_big:38px;
$font_size_super_big:44px;
$font_size_large:60px;
$primary_light: #ab37c0;
$primary: #9c27b0;
$secondary_light: #2451ac;
$secondary: #1b479d;
$color_1: #fefefe;
$color_2: #3d2626;
$color_3: #8e8e8e;
$color_4: #aeaeae;
$color_5: #5a5a5a;
$color_6: #bebebe;
$color_7: #e6e6e6;
$color_8: #cacaca;
$color_site_1: #323d3c;
$color_site_2: #5cc1a3; 
$color_site_3: #68d897;
$color_site_4: #cbd4d8;
$color_site_5: #394746;
$color_site_6: #080808;
$color_site_7: #3db39e;
$color_site_8: #0e0e0e;
$transparent_black_dark: rgba(0,0,0,.98);
$transparent_black: rgba(0,0,0,.96);
$transparent_black_2: rgba(0,0,0,.88);
$background_color_body: #0e0e0e;
$background_color_default: #2e2e2e;
$background_color_main: #1e1e1e;
$background_color_middle: #171717;
$background_color_side: #030303;
$background_color_side_2: #131313;
$background_color_1: #f0f0f0;
$background_color_2: #ffffff;
$background_color_3: #11b684;
$background_color_4: #090909;
$background_color_5: #e7e7e7;
$background_color_6: #7e7e7e;
$background_color_light_orange: #f6b884;
$background_color_mafia:#c24949;
$background_color_citizen:#0786b4;
$background_color_solo:#f7b20e;
$color-uncommon: #66b641;
$color-rare: #4170b6;
$color-epic: #8d32ca;
$color-legendary: #ea852f;
$color_discord: #7289da;
$creator_color: #ea852f;
$player_color: #4182e3;
$hint_color: #ddbf30;
$about_color: #11b684;
$black_color: #000000;
$white_color: #ffffff;
$orange_color:#ea852f;
$red_color:#c24949;
$pink_red_color:#e6646e;
$purple_color:#605d9c;
$purple_dark_color: #413e77;
$light_purple_color:#9628d6;
$red_purple_color:#cb5397;
$pink_color:#ed8aa5;
$pink_gum:#f57c7c;
$yellow_color:#eebb00;
$light_yellow_color:#ffe563;
$light_grey_color:#aab2bd;
$dark_orange_color:#d26509;
$medium_red_color: #e46570;
$light_red_color:#ff6c6c;
$dark_red_color:#c33e3e;
$blue_color: #539acb;
$light_blue_color:#7dbbe6;
$dark_blue_color: #4182e3;
$green_color:#68cb53;
$medium_green_color: #58b040;
$dark_green_color:#528231;
$mafia_placeholder:#680b00;
$citizen_placeholder:#064770;
$unlock_1:#73c570;
$unlock_2:#b9e969;
$htp_color: #d3843d;
$day: #dfa400;
$night: #252a33;
$night_color:#a0c6ff;
$default_radius: 5px;
$site_radius: 7px;
$site_radius_md: 12px;
$site_radius_lg: 15px;
$curve_radius: 30px;
$circle_radius: 50%;

$site: linear-gradient(180deg, rgba(60,150,124,1) 0%, rgba(92,193,163,1) 100%);
$site_reverse: linear-gradient(180deg, rgba(92,193,163,1) 0%, rgba(60,150,124,1) 100%);
$awesome: radial-gradient(circle, rgba(27,71,157,1) 0%, rgba(150,40,214,1) 100%);
$awesome_reverse: linear-gradient(180deg, rgba(150,40,214,1) 0%, rgba(27,71,157,1) 100%);
$awesome_2: linear-gradient(125deg, rgba(150,40,214,1) 0%, rgba(27,71,157,1) 100%);
$awesome_2_reverse: linear-gradient(75deg, rgba(27,71,157,1) 0%, rgba(150,40,214,1) 100%);
$awesome_3: radial-gradient(circle, rgba(150,40,214,1) 0%, rgba(10,10,10,1) 100%);
$awesome_3_reverse: radial-gradient(circle, rgba(10,10,10,1) 0%, rgba(150,40,214,1) 100%);
$danger: linear-gradient(45deg, #d54e4e, #cb2424);
$danger_reverse: linear-gradient(45deg, #cb2424, #d54e4e);
$success: linear-gradient(45deg, #6bcf50, #59a226);
$success_reverse: linear-gradient(45deg, #59a226, #6bcf50);

$breakpoint_mobile_xs: "only screen and (max-width: 400px)";
$breakpoint_mobile: "only screen and (min-width: 480px)";
$breakpoint_tablet: "only screen and (min-width: 640px)";
$brekapoint_laptop: "only screen and (min-width: 980px)";

$meter_height:78px;
