@charset "utf-8";

@font-face{
	font-family:'Mafia';
	src: url('../fonts/Mobsters.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

body{
    max-width: 980px;
    max-width: 400px;
    margin:auto;
}