.action-box-wrapper{
    p{
        font-size: $font_size_3;
        padding:0 0 25px 0;
        strong{
            color:$primary;
        }
    }
    .action-overlay{
        position: absolute;
        top: 48px;
        left: 0;
        width: 100%;
        color: $black_color;
        height: calc(100% - 48px);
        padding: 5px 20px;
        background-size: cover;
        z-index: 10;
        border-radius: $site_radius;
        p{
            padding-bottom: 10px;
            strong{
                color:inherit;
            }
        }
        img{
            width:90px;
            margin-bottom: 10px;
            &.overlap{
                width: 64px;
                margin-top:17px;
                margin-bottom: 0;
            }
        }
        a.bttn{
            margin-top:0;
            box-shadow: 0 0 3px $background_color_6;
        }
        &.hack-overlay{
            background: url('~@/assets/images/assets/hacked.png') repeat center rgb(244, 244, 244);
        }
        &.jail-overlay{
            background: rgb(244, 244, 244);
        }
        &.dead-overlay{
            img:nth-of-type(1){
                float: right;
            }
            img:nth-of-type(2){
                float: left;
            }
            background: rgb(244, 244, 244);
        }
    }
    .action-box{
        position: relative;
        .confirm-action{
            a{
                float: left;
                display: block;
                width:49%;
                font-size: $font_size_2;
                color:$color_1;
                text-align: center;
                padding:15px 5px;
                margin:15px 0 0 2%;
                border-radius: 2px;
                box-shadow: 0 0 3px $background_color_default;
                &:nth-child(2n+1){margin-left: 0;}
                &.cancel{background-color: $red_color;}
                &.confirm{background-color: $green_color;}
            }
        }

        .action-limit{
            display:block;
            width: 30px;
            height: 30px;
            line-height: 34px;
            font-family: $font_mafia_rtl;
            font-size: $font_size_8;
            margin:-9px auto 0 auto;
            background-color: $primary;
            border-radius: 50%;
            box-shadow: 0 0 5px $black_color inset;
        }
    
        .player-box{
            width:85px;
            display:inline-block;
            vertical-align: middle;
            img{width:35px;}
            h4{
                span{
                    display: block;
                    font-size: $font_size_1;
                    color:$color_1;
                }
            }
        }
    
        .question{
            margin: 30px 0;
            input{
                display: none;
            }
            label{
                display: block;
                max-width: 160px;
                color: $color_1;
                text-align: center;
                padding:10px;
                margin:0 auto;
                cursor: pointer;
                border:1px solid $background_color_2;
                border-radius: 5px;
                box-shadow: 0 1px 7px $black_color;
                transition: all .2s ease-in-out;
            } 
            input:checked + label{
                background-color: $primary;
                border-color: $secondary;
            }
        }
        
        .arrow{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width:60px;
            height: 60px;
            margin:0 10px;
            img{
                width:50px;
                margin:9px auto 0 auto;
            }
        }
    }
    
    .action-image{
        animation: scaling 2.4s ease-in-out alternate infinite;
    }
    
}