.error-bullet {
	li {
        line-height: 1.8;
        font-size: $font_size_4;
        text-align: left;
        padding:10px;
        margin:10px 0;
        border:1px solid $background_color_mafia;
        border-radius: $site_radius;
        &.blue{
            border-color: $background_color_citizen;
            &::before{background-color: $background_color_citizen;}
        }
		&::before {
			content: '';
            display: inline-block;
            vertical-align: middle;
			width: 5px;
            height: 5px;
			margin-right: 5px;
			background-color: $background_color_mafia;
			border-radius: $circle_radius;
        }
        span{
            margin:0 2px;
        }
    }
    &.type-2 li{
        line-height: 1.4;
        font-size: $font_size_2;
        border:none;
        border-radius: 0;
        padding:0;
        margin:5px 0;
        span{color:$background_color_mafia;}
    }
}