.game-settings{
    direction: ltr;
    width:100%;
    margin-top: .5rem;
    nav{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
        transition:all .3s ease-in-out;
        button{
            position: relative;
            display:flex;
            align-items: center;
            justify-content: center;
            width:23.5%;
            height: 70px;
            font-size: $font_size_2;
            text-align: center;
            padding: 5px;
            margin-top: 0;
            border:1px solid $background_color_main;
            border-radius: $site_radius;
            margin-left: 2%;
            transition:all .3s ease-in-out;
            box-shadow: inset 0 0 2px #1e1e1e;
            &:nth-child(1){
                color: $black_color;
                margin-left: 0;
                background-color: $yellow_color !important;
            }
            &:nth-child(2){
                background-color: $dark_blue_color !important;
            }
            &:nth-child(3){
                background-color: $primary !important;
            }
            &:nth-child(4){
                color: $black_color;
                background-color: $white_color !important;
            }
            span{
                display:table-cell;
                vertical-align: middle;
                img{
                    width: 34px;
                    margin-bottom:2px;
                    transition:all .3s ease-in-out;
                }
                strong{
                    font-size: $font_size_0;
                }
            }
            &.active{
                transform: scale(.9, .9);
                span{
                    img{
                        width: 50px;
                        transform: translateY(10px);
                    }
                    strong{
                        opacity: 0;
                    }
                }
            }
        }
    }
}
