.killer{background-image: url('~@/assets/images/icons/skull.svg');}
.pending-action{background-image: url('~@/assets/images/icons/pending-action.svg');}
.done-action{background-image: url('~@/assets/images/icons/action-done.svg');}
.passive{background-image: url('~@/assets/images/icons/passive.svg');}
.disabled{background-image: url('~@/assets/images/icons/disabled.svg');}
.angel{background-image: url('~@/assets/images/icons/angel.svg') !important;}
.heal-icon{background-image: url('~@/assets/images/icons/heal.svg');}
.link-icon{background-image: url('~@/assets/images/icons/linked.svg');}
.silence-icon{background-image: url('~@/assets/images/icons/silence.svg');}
.in-jail-icon{background-image: url('~@/assets/images/icons/in-jail.svg');}
.hack-icon{background-image: url('~@/assets/images/icons/hacked.svg');}
.dead-icon{background-image: url('~@/assets/images/icons/dead.svg');}
.revived-icon{background-image: url('~@/assets/images/icons/revived.svg');}
.invisible-icon{background-image: url('~@/assets/images/icons/invisible.svg');}
.shield-icon{background-image: url('~@/assets/images/icons/shield.svg');}