.info-box{
    position:fixed;
    bottom:-96%;
    left: 1%;
    width:98%;
    height: 96%;
    padding:45px 15px 15px 15px;
    background-color: $transparent_black;
    border-radius: 15px 15px 0 0 ;
    z-index: 999999999;
    transition: all .3s ease-in-out;
    &.active{
        bottom:0;
    }
    img{
        float: left;
        width: 80px;
        margin-right: 5px;
    }
    p{
        font-size: $font_size_4;
        padding-top:12px;
    }
    a{
        position: absolute;
        top:0;
        left:0;
        display: block;
        width:100%;
        height: 36px;
        background:url('~@/assets/images/assets/arrow-bottom-light.svg') no-repeat center #010101;
        background-size: 12px;
        border-bottom:1px solid $background_color_main;
        border-radius: 15px 15px 0 0;
        z-index: 10;
    }
    h2{
        margin-top:2px;
    }
    &.static{
        position: static;
        width:100%;
        height: auto;
        text-align: justify;
        padding:15px;
        margin:15px auto !important;
        border-radius: $site_radius;
        a{
            display:none;
        }
        p{
            padding-top:15px;
        }
        &:last-child{
            margin-bottom: 0 !important;
        }
    }
    .mafia-status,
    .citizen-status,
    .solo-status{
        text-align: left;
        margin-top:5px;
    }
    .details-info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top:20px;
        > div{
            width:100%;
            font-size: $font_size_3;
            margin:4px 0;
            > span{
                display:inline-block;
                vertical-align: middle;
                color: $yellow_color;
                margin-right: 10px;
            }
            .data-holder{
                display: inline-block;
                vertical-align: middle;
                min-height: 22px;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    width:22px;
                    margin-right: 8px;
                }
                strong{
                    display: inline-block;
                    vertical-align: middle;
                }
                &.unlock-description{
                    strong{
                        color:$light_blue_color;
                    }
                }
            }
        }
        .character-power{
            display: inline-block;
            vertical-align: middle;
            min-width: 130px;
        }
    }
}

@media (min-width: 500px) {
    .info-box{
        left:auto;
        max-width: 500px;
        margin-left: -12px;
    }
}