.navigation{
    direction: ltr;
    position: absolute;
    top:0;
    left:0;
    max-width: 980px;
    width:100%;
    margin-right: -15px;
    margin-left:0;
    background-color: $background_color_main;
    z-index: 99999999;
    nav{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
        padding:1px;
        transition:all .3s ease-in-out;
        a{
            position: relative;
            display:table;
            width:25%;
            height: 64px;
            font-family: $font_mafia;
            font-size: $font_size_9;
            text-align: center;
            border:1px solid $background_color_main;
            border-radius: 3px;
            transition:all .3s ease-in-out;
            box-shadow: inset 0 0 2px #1e1e1e;
            &:nth-child(1){
                background-color: $primary !important;
            }
            &:nth-child(2){
                background-color: $hint_color !important;
            }
            &:nth-child(3){
                background-color: $about_color !important;
            }
            &:nth-child(4){
                background-color: $secondary !important;
            }
            &:active{
                opacity: .1;
                transform:scale(1,1);
            }
            &::after{
                content:'';
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height: 100%;
                background:rgba(0,0,0,.44);
                z-index: 10;
            }
            span{
                display:table-cell;
                vertical-align: middle;
                img{
                    width: 24px;
                    margin-bottom:2px;
                    transition:all .3s ease-in-out;
                }
            }
            &.router-link-exact-active{
                &::after{
                    display: none;
                }
                img{
                    transform:rotate(360deg);
                }
            }
        }
    }
}
