.vue-notification-group{
    width:100% !important;
    max-width: 500px;
    left:auto !important;
    margin-right: -12px;
    .vue-notification {
      position: relative;
      font-family: $font_normal;
      font-size: $font_size_6 !important;
      color: $color_2;
      text-align: center !important;
      padding: 15px 10px !important;
      margin:0 0 5px 0 !important;
      border-radius: 2px;
      a{
        position: absolute;
        top:0;
        left:0;
        display: block;
        width:100%;
        height:100%;
        z-index: 99;
      }
      .image-wrapper{
        height:34px;
        margin-bottom: 7px;
        img{
          width:34px;
          height:34px;
        }
      }
      span{color:$black_color;}
      strong{color:$black_color;}
      &.warn {
        background: #ffb648;
        border-color: #f48a06 !important;
      }
     
      &.error {
        background: #E54D42;
        border-color: #B82E24 !important;
      }
     
      &.success {
        background: #68CD86;
        border-color: #42A85F !important;
      }
  
      &.important {
        background: #539acb;
        border-color: #4182e3 !important;
      }
    }
}
  
.notifications{
    width: calc(100% - 20px) !important;
    left: 10px !important;
}
  
.notif{
    display: inline-block;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    line-height: 22px;
    font-family: $font_normal;
    font-size: $font_size_3;
    color:$color_1;
    text-align: center;
    background-color: $medium_red_color;
    border-radius: 50%;
}

@media (min-width:500px){
    .notifications{
        left:auto !important;
        max-width: 500px !important;
        margin-left: -12px;
    }
    #app .navigation{
        max-width: 500px;  
    }
}

@media (max-width:500px){
    #app .navigation{
      left:0;
      margin-left: 0;
    }
    .vue-notification-group{
      padding:0 4px;
    }
  }