.power-meter{
    position: fixed;
    bottom:0;
    left:1%;
    width: 98%;
    height: 62px;
    padding:30px 15px 12px 15px;
    background-color: $background_color_side;
    box-shadow:0 0 4px $background_color_main;
    border-radius: 5px 5px 0 0;
    z-index: 99999;
    transition:all .2s ease-in-out;
    .has-clear-fix{
        position: relative;
        max-width: 950px;
        height: 100%;
        line-height: 19px;
        font-size: $font_size_2;
        text-align: center;
        margin:auto;
        transition:all .2s ease-in-out;
        .mafia-power{
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
            color:$mafia_placeholder;
            background-color: $background_color_mafia;
            border-radius: 25px 0 0 25px;
        }
        .citizen-power{
            position: relative;
            float: left;
            width: 50%;
            height: 100%;
            color:$citizen_placeholder;
            background-color: $background_color_citizen;
            border-radius: 0 25px 25px 0;
        }
        .meter{
            position: absolute;
            top:-13.5px;
            left:25%;
            width:50%;
            height: 100%;
            z-index: 99;
            transition:all .4s ease-in-out;
            span{
                position: absolute;
                top:7px;
                left:50%;
                display: block;
                width:32px;
                height: 32px;
                margin-left: -16px;
                background:url('~@/assets/images/icons/meter.svg') no-repeat center;
                background-size: 32px;
            }
        }
        strong{
            position: absolute;
            top:-26px;
            left:0;
            width:100%;
            color:$color_1;
            text-align: center;
            span{font-size: $font_size_2;}
            img{
                width:15px;
                margin-top:4px;
                transition:all .2s ease-in-out;
            }
        }
        span{
            font-size: $font_size_0;
            b{
                font-size: $font_size_2;
                color:$black_color;
            }
        }
    }
    &.active .has-clear-fix{
        transform:translateY(-8px);
        strong {
            img{
                transform:translateY(4px);
            }
        }
    }
    &.hidden{
        opacity: 0;
        visibility: hidden;
    }
}

@media (min-width: 500px) {
    .power-meter{
        left:auto;
        width:100%;
        max-width: 500px;
        margin-left: -10px;
        box-shadow: none;
    }
}