.revenge-box{
    img{
        display: inline-block;
        width:90px !important;
        margin:0 10px;
    }
    .bttn{
      padding:10px;
      margin:12px 0;
    }
    p{
      padding-top:20px;
      padding-bottom: 20px;
    }
}