.main-container {
display: flex;
flex-direction: column;
}
.name-container { 

}
.player-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    min-height: 150px;
}
.single-player {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: gray;
  text-align: center;
}