.table-roles{
    table{
        tr{
            td{
                position: relative;
                a{background-size: 24px;}
                &::before{
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    background-size: 24px;
                    transition:all .2s ease-in-out;
                    z-index: 10;
                }
                &::after{
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height: 100%;
                    opacity: 0;
                    visibility: hidden;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    background-size: 24px;
                    transition:all .2s ease-in-out;
                    z-index: 10;
                }
                &:nth-child(1)::before{
                    content:'';
                    position: absolute;
                    top:50%;
                    right:4px;
                    width:22px;
                    height: 22px;
                    margin-top:-11px;
                    opacity: 0;
                    visibility: hidden;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 22px;
                    z-index: 10;
                }
            }
            &.love-bind td{
                &:nth-child(2)::before{
                    content:'';
                    position: absolute;
                    top:50%;
                    left:-13px;
                    width:24px;
                    height:24px;
                    margin-top:-12px;
                    opacity: 1;
                    visibility: visible;
                    background-image: url('~@/assets/images/icons/linked.svg') !important;
                    z-index: 99;
                }
            }
            &.in-jail td{
                &:nth-child(1)::before{
                    content:'';
                    position: absolute;
                    top:50%;
                    left:-13px;
                    width:24px;
                    height:24px;
                    margin-top:-12px;
                    opacity: 1;
                    visibility: visible;
                    background-image: url('~@/assets/images/icons/in-jail.svg') !important;
                    background-size: 24px;
                    z-index: 99;
                }
            }
            &.dead td{
                &::after{
                    opacity: 1 !important;
                    visibility: visible !important;
                    background-image: none !important;
                }
                &::before{
                    display: none;
                }
                &:nth-child(1){
                    text-decoration: line-through;
                    &::after{
                        background-image: url('~@/assets/images/icons/dead.svg') !important;
                        background-color: rgba(0,0,0,.2);
                        background-position: 98% center !important;
                    }
                }
                &:nth-child(2)::after{display: none;}
                a.angel{
                    background-color: $dark_green_color !important;
                }
            }
            &.ninja td{
                &::after{
                    visibility: visible;
                    opacity: 1;
                    background-color:rgb(194,73,73, .2);
                }
                &:last-child::after{
                    display: none;
                }
            }
            &.skeleton td{
                &::after{
                    visibility: visible;
                    opacity: 1;
                    background-color:rgba(12, 12,12, 0.1);
                }
                &:last-child::after{
                    background-color: transparent;
                }
            }
            &.silence td{
                &:nth-child(2)::after{
                    opacity: 1 !important;
                    visibility: visible !important;
                    background-image: url('~@/assets/images/icons/silence.svg');
                    background-position: 2% center !important;
                    background-size: 20px;
                }
            }
            &.heal td{
                &:nth-child(2)::before{
                    opacity: 1 !important;
                    visibility: visible !important;
                    background-image: url('~@/assets/images/icons/heal.svg') !important;
                    background-position: 98% center !important;
                    background-size: 14px;
                }
            }
            &.invisible td{
                &:first-child{padding:6px 28px 6px 4px;}
                &:nth-child(1)::before{
                    opacity: 1 !important;
                    visibility: visible !important;
                    background-image: url('~@/assets/images/icons/fakeIdentity.svg');
                }
            }
            &.shield td{
                &:first-child{padding:6px 28px 6px 4px;}
                &:nth-child(1)::before{
                    opacity: 1 !important;
                    visibility: visible !important;
                    background-image: url('~@/assets/images/icons/shield.svg');
                }
            }
            &.hack td{
                &:last-child::after{
                    opacity: 1 !important;
                    visibility: visible !important;
                    background-image: url('~@/assets/images/icons/hacked.svg');
                    background-color: rgba(54,0,108,.85);
                }
            }
        }
    }
}