.title{
    text-align: center;
    h2{
        font-family: $font_mafia;
        font-size: $font_size_super_big;
    }
    p{padding-top:12px;}
    img{
        width:90px;
        margin-bottom: 10px;
    }
}
.creator .title h2 span{color:$creator_color;}
.about .title h2 span{color:$primary;}
.how-to-play .title h2 span{color:$purple_light_color;}
.login-page .title h2 span{color:$background_color_citizen;}