.welcome-box{
    direction: ltr;
    position: relative;
    overflow: hidden;
    color: $color_1;
    text-align: center;
    padding:25px 10px;
    margin:10px 0;
    background-image: url('~@/assets/images/main-city.jpg');
    background-repeat: no-repeat;
    border-radius: $site_radius;
    box-shadow: inset 0 0 15px $black_color;
    animation:fading 25s ease-out alternate infinite;
    img{
        width:100px;
        margin-bottom:7px;
    }
    strong{
        display: inline-block;
        vertical-align: middle;
        font-family: $font_mafia;
        font-size: 44px;
        margin: 0 5px;
        i{
            color:$primary;
        }
    }
    span{
        display: inline-block;
        width: 38px;
        height: 22px;
        line-height: 22px;
        font-family: $font_reset_default;
        font-size: $font_size_2;
        background-color: $background_color_main;
        border-radius: 4px;
    }
}

@keyframes fading {
    0%{
        background-size: 100%;
        background-position: right top;
    }
    100%{
        background-size: 125%;
        background-position: left bottom;
    }
}