.step-box,
.page-box{
    position: relative;
    padding:20px 15px;
    margin-top:20px;
    border-radius: $site_radius;
    box-shadow: 0 0 10px $black_color;
    h3{
        font-family: $font_mafia;
        font-size: 34px;
        color:$color_site_2;
        text-align: center;
        padding: 15px 0;
        strong{
            color: $htp_color;
        }
        span{
            color: $hint_color;
        }
    }
    p{
        font-size: $font_size_4;
        padding-top:0;
        &:not(:last-child){margin-bottom: 020px;}
    }
    &.same-padding{padding:15px;}
    &.has-top-padding{padding-top:64px;}
    &.display{
        display: table;
        width:100%;
        height: 400px;
        margin-top:20px;
        .inner-display{
            > div > div{min-height: 305px;}
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            strong{
                display: block;
                font-family: $font_mafia;
                font-size: 60px;
                color:$hint_color;
                word-break: break-word;
                transition:all .4s ease-in-out;
                &.mafia-color{color:$background_color_mafia;}
                &.citizen-color{color:$background_color_citizen;}
            }
            a.bttn{
                max-width: 200px;
                margin:15px auto 0 auto;
            }
            .role-info{
                position: relative;
                display: inline-block;
                min-width: 162px;
                font-family: $font_mafia;
                font-size: 30px;
                color:$color_site_4;
                padding:30px 25px;
                margin:10px 0 7px 0;
                background-color: $background_color_4;
                border:2px solid $background_color_mafia;
                border-radius: $circle_radius;
                &::after{
                    content:'';
                    position: absolute;
                    top:5px;
                    left:5px;
                    display: block;
                    width:calc(100% - 10px);
                    height:calc(100% - 10px);
                    border:2px solid $background_color_mafia;
                    border-radius: $circle_radius;
                }
                &.citizen{
                    border:2px solid $background_color_citizen;
                    &::after{border:2px solid $background_color_citizen;}
                }
            }
        }
        &.autoheight{height: auto;}
    }
    &.godashboard{
        overflow: hidden;
        transition:all .3s ease-in-out;
        background-position: left bottom;
        &::after,
        &::before{
            content:'';
            position: absolute;
            top:-100px;
            left:40%;
            width:64px;
            height: 64px;
            background-repeat: no-repeat;
            background-position: center;
            transition:all .5s ease-in-out;
        }
        &:not(.day):not(.night){margin-bottom:40px;}
        &.day{
            background:url('~@/assets/images/day.jpg') no-repeat left bottom;
            background-size: cover;
            &::after{
                top:25px;
                background-image: url('~@/assets/images/sun.png');
            }
        }
        &.night{
            background:url('~@/assets/images/night.jpg') no-repeat right center;
            background-size: cover;
            &::before{
                top:25px;
                background-image: url('~@/assets/images/moon.png');
            }
        }
    }
}
.page-box{margin-top:20px;}