.character-power{
    height: 8px;
    background-color: $color_7;
    border-radius: $site_radius;
    span{
        position: relative;
        display: block;
        float: left;
        height: 100%;
        border-radius: $site_radius;
        i{
            position: absolute;
            top:-7px;
            right:-6px;
            width:22px;
            height: 22px;
            line-height: 20px;
            font-size: $font_size_1;
            color:$black_color;
            text-align: center;
            background-color: $background_color_2;
            border-radius: $circle_radius;
            z-index: 99;
        }
        &.mafia i{
            color: $color_1;
            background-color: $background_color_middle;
        }
        &.mafia{
            background: rgb(194,73,73);
            background: linear-gradient(90deg, rgba(194,73,73,1) 0%, rgba(255,216,40,1) 100%);
        }
        &.citizen{
            background: rgb(83,154,203);
            background: linear-gradient(90deg, rgba(83,154,203,1) 0%, rgba(173,83,203,1) 100%);
        }
    }
}