.game-finished{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    text-align: center;
    padding:10px;
    visibility: hidden;
    opacity: 0.1;
    background: rgba(0,0,0, .98);
    z-index: 9999999999999999;
    transform:scale(1.5,1.5);
    transition:all 0.3s ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
        transform:scale(1,1)
    }
    .game-finish-box{
        display: table;
        width: 100%;
        height: 100%;
        padding:20px;
        border:6px solid $background_color_1;
        border-radius: $site_radius;
        .inner-game-finish-box{
            display: table-cell;
            vertical-align: middle;
        }
        h2{
            strong{
                display: block;
                font-family: $font_mafia;
                font-size: $font_size_large;
                margin-top:10px;
            }
        }
        p{
            font-size: $font_size_8;
        }
        img{
            width: 200px;
        }
        &.mafia{
            border-color:$background_color_mafia;
            h2{
                strong{
                    color: $background_color_mafia;
                }
            }
        }
        &.citizen{
            border-color:$background_color_citizen;
            h2{
                strong{
                    color: $background_color_citizen;
                }
            }
        }
    }
}