.killer{background-image: url('~@/assets/images/icons/skull.svg');}
.pending-action{background-image: url('~@/assets/images/icons/pending-action.svg');}
.done-action{background-image: url('~@/assets/images/icons/action-done.svg');}
.passive{background-image: url('~@/assets/images/icons/passive.svg');}
.disabled{background-image: url('~@/assets/images/icons/disabled.svg');}
.angel{background-image: url('~@/assets/images/icons/angel.svg') !important;}
.healed-icon{background-image: url('~@/assets/images/icons/heal.png');}
.linked-icon{background-image: url('~@/assets/images/icons/linked.svg');}
.silenced-icon{background-image: url('~@/assets/images/icons/silence.png');}
.hacked-icon{background-image: url('~@/assets/images/icons/hacked.svg');}
.dead-icon{background-image: url('~@/assets/images/icons/dead.png');}
.invisible-icon{background-image: url('~@/assets/images/icons/invisible.svg');}
.shield-icon{background-image: url('~@/assets/images/icons/shield.svg');}
.revived-icon{background-image: url('~@/assets/images/icons/revive.png');}