.killer{background-image: url('~@/assets/images/icons/skull.png');}
.no-action{background-image: url('~@/assets/images/icons/no-action.png');}
.pending-action{background-image: url('~@/assets/images/icons/pending-action.png');}
.done-action{background-image: url('~@/assets/images/icons/action-done.png');}
.passive{background-image: url('~@/assets/images/icons/passive.png');}
.disabled{background-image: url('~@/assets/images/icons/disabled.png');}
.angel{background-image: url('~@/assets/images/icons/angel.png') !important;}
.healed-icon{background-image: url('~@/assets/images/icons/heal.png');}
.linked-icon{background-image: url('~@/assets/images/icons/linked.png');}
.silenced-icon{background-image: url('~@/assets/images/icons/silence.png');}
.hacked-icon{background-image: url('~@/assets/images/icons/hacked.png');}
.dead-icon{background-image: url('~@/assets/images/icons/dead.png');}
.invisible-icon{background-image: url('~@/assets/images/icons/invisible.png');}
.shield-icon{background-image: url('~@/assets/images/icons/shield.png');}
.revived-icon{background-image: url('~@/assets/images/icons/revive.png');}