.log-bttn{
    margin-top:20px;
    i{
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 14px;
        color: #323d3c;
        text-align: center;
        margin-left: 4px;
        background-color: #ffffff;
        border-radius: $circle_radius;
    }
}

.log-action img{margin-bottom: 20px;}

.log-history{
    padding-top:40px;
    .log-table{
        margin-bottom: 60px;
        &:last-of-type{margin-bottom:30px;}
        span.counter{
            position: absolute;
            top:-34px;
            left:50%;
            display: block;
            width:100px;
            font-size: $font_size_3;
            color:$color_1;
            padding:6px 0;
            margin-left: -40px;
            background: rgb(27,71,157);
            background: radial-gradient(circle, rgba(27,71,157,1) 0%, rgba(150,40,214,1) 100%);
            border-radius: 4px;
            z-index: 10;
        }
    }
}