.priority-box{
    position: relative;
    max-width: 540px;
    text-align: center;
    padding:50px 20px 25px 20px;
    margin:20px auto 0 auto;
    background-color: $background_color_main;
    border-radius: $site_radius;
    box-shadow: inset 0 0 18px $black_color;
    label{
        display:inline-block;
        font-size: $font_size_3;
        margin:10px 0;
    }
    a.bttn{
        padding:8px 12px;
        margin-top:10px;
    }
    .progress-bar{
        position: absolute;
        top: 15px;
        left: 10px;
        width: calc(100% - 20px);
        height: 18px;
        line-height: 16px;
        font-size: $font_size_1;
        a{
            position: absolute;
            top:-6px;
            display: block;
            width:30px;
            height: 30px;
            background-size: 30px;
            z-index: 10;
            &.prev-action{
                left: -2px;
                background-image: url('~@/assets/images/assets/prev.svg');
            }
            &.next-action{
                right: -2px;
                background-image: url('~@/assets/images/assets/next.svg');
            }
        }
        .bar-holder{
            height: 100%;
            overflow: hidden;
            background-color: $background_color_default;
            border-radius: $curve_radius;
        }
        span{
            display: block;
            height: 100%;
            background: rgb(18,162,53);
            background: linear-gradient(90deg, rgba(106,34,161,1) 0%, rgba(219,65,65,1) 100%);
            transition:all .5s ease-in-out;
        }
        i{
            position: absolute;
            top:0;
            left:50%;
            width:50px;
            margin-left: -25px;
            strong{
                font-family: $font_normal;
                font-size: $font_size_6;
            }
        }
    }
}