.external-nav a.language-bttn{display: none;}
#app .navigation a.language-bttn{
    position: absolute;
    top:1px;
    right:1px;
    font-family: $font_normal;
    font-size: $font_size_1;
    padding: 14px 2px 10px 2px;
    z-index: 99;
    img{
        width:24px;
    }
    &::after{
        display: none;
    }
}