$font_normal: 'Muli';
$font_mafia: 'Mafia';
$font_size_1:11px;
$font_size_2:12px;
$font_size_3:13px;
$font_size_4:14px;
$font_size_5:15px;
$font_size_6:16px;
$font_size_7:17px;
$font_size_8:18px;
$font_size_9:19px;
$font_size_10:20px;
$font_size_big:28px;
$color_1: #fefefe;
$color_2: #3d2626;
$color_3: #8e8e8e;
$color_4: #aeaeae;
$color_site_1: #323d3c;
$color_site_2: #5cc1a3; 
$color_site_3: #68d897;
$background_color_default: #2e2e2e;
$background_color_main: #1e1e1e;
$background_color_1: #f0f0f0;
$background_color_2: #ffffff;
$background_color_3: #11b684;
$background_color_4: #090909;
$background_color_mafia:#c24949;
$background_color_citizen:#539acb;
$creator_color: #ea852f;
$player_color: #4182e3;
$hint_color: #ddbf30;
$about_color: #11b684;
$black_color: #000000;
$red_color:#c24949;
$blue_color: #539acb;
$green_color:#68cb53;
$mafia_placeholder:#680b00;
$citizen_placeholder:#064770;