@charset "utf-8";

@font-face{
	font-family:'Mafia';
	src: url('../fonts/Mobsters.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Muli';
	src: url('../fonts/Muli.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	&::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	&::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

html,
body{
    min-height: 100%;
    height: 100%;
}

body{
    max-width: 980px;
    font-family: $font_normal, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $color_1;
    margin:auto;
    background-color: $background_color_default;
    user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
i{font-style: normal;}

p{
    line-height: 1.6;
    padding-top:15px;
}

a{
    color:inherit;
	text-decoration: none;
	outline: none;
	transition: all .2s ease-in-out;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
	img {
		outline: none;
		border: none;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: auto;
}

ul,
ol{list-style: none;}

::-webkit-input-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}
:-moz-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}
::-moz-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}
:-ms-input-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}

input {
	&:-webkit-autofill {
		background-color: $background_color_2;
		&:focus {
			background-color: $background_color_2;
		}
		&:active {
			background-color: $background_color_2;
		}
    }
    display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: $font_normal;
	font-size: 16px;
	color: $color_2;
	-webkit-appearance: none;
	transition: all .2s ease-in-out;
    padding: 0 15px;
    outline: none;
    background-color: $background_color_1;
	border: none;
	border-radius: 1px;
	&:not([type="submit"]) {
		&:focus {
			background-color: $background_color_2;
		}
	}
}

select {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: $font_normal;
	font-size: 16px;
	color: $color_2;
	text-align: center;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    background: url('../images/assets/arrow-bottom-dark.png') no-repeat 95% center $background_color_1;
    border:none;
	border-radius: 1px;
	-webkit-appearance: none;
}

button{
	position: relative;
    display: block;
    width:100%;
    height: 50px;
    font-size: $font_size_7;
	color:$color_1;
	text-align: center;
	padding:5px 10px;
    margin-top:30px;
    outline: none;
	cursor: pointer;
    user-select: none;
    background-color: $background_color_3;
    border:none;
	border-radius: 1px;
	transition:all .2s ease-in-out;
}

.left-aligned{text-align: left;}
.center-aligned{text-align: center;}
.right-aligned{text-align: right;}
.has-top-margin{margin-top:30px;}
.has-bottom-margin{margin-bottom:30px;}

.has-clear-fix::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}

.error-bullet {
	li {
        font-size: $font_size_3;
        line-height: 1.8;
        color:$light_red_color;
        text-align: left;
        padding:10px;
        margin:10px 0;
        border:1px solid $light_red_color;
        border-radius: 4px;
		&::before {
			content: '';
			display: inline-block;
			width: 5px;
            height: 5px;
			margin-right: 5px;
			background-color: $light_red_color;
			border-radius: 50%;
		}
	}
}

#app{
    position: relative;
    min-height: 100%;
    padding:15px;
    background-color: $background_color_main;
}

.navigation{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 99999;
    nav{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
        padding:5px;
        a{
            display:table;
            width:50%;
            height: 50%;
            text-align: center;
            font-family: $font_mafia;
            font-size: 30px;
            padding:10px;
            border:5px solid $background_color_main;
            box-shadow: inset 0 0 2px #1e1e1e;
            &:nth-child(1){background-color: $creator_color;}
            &:nth-child(2){background-color: $player_color;}
            &:nth-child(3){background-color: $hint_color;}
            &:nth-child(4){background-color: $about_color;}
            span{
                display:table-cell;
                vertical-align: middle;
                img{
                    width:100px;
                    margin-bottom:15px;
                }
            }
        }
    }
}

#app div.home .navigation a:hover{
    opacity: .6;
    transform:scale(.85,.85);
}

#app > div:not(.home){padding-top:90px;}

#app > div:not(.home) .navigation{
    height: 78px;
    nav{
        padding:1px;
        a{
            position: relative;
            width:25%;
            padding:4px;
            font-size: 18px;
            border-width: 1px;
            box-shadow: inset 0 0 1px #1e1e1e;
            span{
                img{
                    width:40px;
                    margin-bottom:5px;
                    transition:all .2s ease-in-out;
                }
            }
        }
    }
}

#app > div:not(.home) .navigation a::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.44);
    z-index: 10;
}

.navigation a.router-link-active::after{display: none;}
.navigation a.router-link-active img{transform:rotate(360deg);}

.creator h2 span{color:$creator_color;}

.roles li input + label::after{
    content:'';
    position: absolute;
    top:-8px;
    left:-4px;
    width:30px;
    height: 30px;
    opacity: 0;
    background:url('../images/assets/checked.png') no-repeat center;
    background-size: 30px;
    transition:all .2s ease-in-out;
    transform:scale(0,0);
}
.roles li input:checked + label::after,
.roles li input:checked ~ a.info{
    opacity: 1;
    transform:scale(1,1);
}
.roles li input:checked + label{color:$black_color;}
.roles li input + label img{transition:all .3s ease-in-out;}
.roles li input:checked + label img{transform:rotate(360deg);}

.start-bttn span{
    display: inline-block;
    padding: 5px 5px 5px 40px;
    background:url('../images/assets/play.png') no-repeat left center;
}

i.mafia-role,
i.citizen-role{
    display: inline-block;
    line-height: 1.4;
    padding:1px 6px;
    margin:0 4px;
    background-color:$background_color_2;
    border-radius:2px;
    box-shadow: inset 0 0 2px #7e7e7e;
}

.citizen-role{color:$blue_color}
.mafia-role{color:$red_color}

a.info{
    position: absolute;
    top:-8px;
    right:-4px;
    display: block;
    width:30px;
    height: 30px;
    opacity: 0;
    background:url('../images/assets/info.png') no-repeat center #ffffff;
    background-size: 30px;
    border-radius: 50%;
    z-index: 99;
    transition:all .2s ease-in-out;
    transform:scale(0,0);
}

.info-box{
    position:fixed;
    bottom:-95%;
    left: 1%;
    width:98%;
    height: 95%;
    overflow-y: auto;
    padding:45px 15px 15px 15px;
    background-color: $transparent_black;
    border-radius: 15px 15px 0 0 ;
    z-index: 999999999;
    transition: all .3s ease-in-out;
}

.info-box.active{
    bottom:0;
}

.info-box img{margin-bottom: 5px;}
.info-box h2{text-align: center;}
.info-box p{font-size: $font_size_4;}

.info-box a{
    position: absolute;
    top:0;
    left:0;
    display: block;
    width:100%;
    height: 36px;
    background:url('../images/assets/arrow-bottom-light.png') no-repeat center #010101;
    border-bottom:1px solid #1f1f1f;
    border-radius: 15px 15px 0 0;
    z-index: 10;
}

.mafia-status{text-align: center;}
.mafia-status strong{
    display: inline-block;
    font-size: $font_size_3;
    color:#ffffff;
    padding: 3px 12px;
    margin-top:4px;
    border-radius: 3px;
}

.mafia-status strong.mafia-role{background-color: $background_color_mafia;}
.mafia-status strong.citizen-role{background-color: $background_color_citizen;}

.meter{
    position: absolute;
    top:-13.5px;
    left:25%;
    width:50%;
    height: 100%;
    z-index: 99;
    transition:all .2s ease-in-out;
    span{
        position: absolute;
        top:0;
        left:50%;
        display: block;
        width:48px;
        height: 48px;
        margin-left: -24px;
        background:url('../images/icons/meter.png') no-repeat center;
        background-size: 48px;
    }
}