@charset "utf-8";

@font-face{
	font-family:'Mafia';
	src: url('../fonts/Mobsters.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

@font-face{
	font-family:'Muli';
	src: url('../fonts/Muli.woff') format('woff');
	font-weight: normal;
  	font-style: normal;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	&::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
	&::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
}

html,
body{
    min-height: 100%;
    height: 100%;
}

body{
    max-width: 980px;
    font-family: $font_normal, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $color_1;
    margin:auto;
    background-color: $background_color_default;
    user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

h1,h2,h3,h4,h5,h6,strong{font-weight: normal;}
i{font-style: normal;}

p{
    line-height: 1.6;
    padding-top:15px;
}

a{
    color:inherit;
	text-decoration: none;
	outline: none;
	transition: all .2s ease-in-out;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
	img {
		outline: none;
		border: none;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto !important;
	margin: auto;
}

ul,
ol{list-style: none;}

::-webkit-input-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}
:-moz-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}
::-moz-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}
:-ms-input-placeholder {
	font-family: $font_normal;
	font-size: 14px;
	color: $color_3;
}

input {
	&:-webkit-autofill {
		background-color: $background_color_2;
		&:focus {
			background-color: $background_color_2;
		}
		&:active {
			background-color: $background_color_2;
		}
    }
    display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: $font_normal;
	font-size: 16px;
	color: $color_2;
	-webkit-appearance: none;
	transition: all .2s ease-in-out;
    padding: 0 15px;
    outline: none;
    background-color: $background_color_1;
	border: none;
	border-radius: 1px;
	&:not([type="submit"]) {
		&:focus {
			background-color: $background_color_2;
		}
	}
}

select {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: $font_normal;
	font-size: 16px;
	color: $color_2;
	text-align: center;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    background: url('../images/assets/arrow-bottom-dark.png') no-repeat 95% center $background_color_1;
    border:none;
	border-radius: 1px;
	-webkit-appearance: none;
}

button{
	position: relative;
    display: block;
    width:100%;
    font-size: $font_size_7;
	color:$color_1;
	text-align: center;
	padding:16px 10px;
    margin-top:30px;
    outline: none;
	cursor: pointer;
    user-select: none;
    background-color: $background_color_3;
    border:none;
	border-radius: 1px;
	transition:all .2s ease-in-out;
}

.has-clear-fix::after {
    content: '';
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
}

#app{
    position: relative;
    min-height: 100%;
    padding:15px;
    background-color: $background_color_main;
}

.navigation{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 99999;
    nav{
        display:flex;
        flex-wrap: wrap;
        width:100%;
        height: 100%;
        padding:5px;
        a{
            display:table;
            width:50%;
            height: 50%;
            text-align: center;
            font-family: $font_mafia;
            font-size: 30px;
            padding:10px;
            border:5px solid $background_color_main;
            box-shadow: inset 0 0 3px #1e1e1e;
            &:nth-child(1){background-color: $creator_color;}
            &:nth-child(2){background-color: $player_color;}
            &:nth-child(3){background-color: $hint_color;}
            &:nth-child(4){background-color: $about_color;}
            span{
                display:table-cell;
                vertical-align: middle;
                img{
                    width:100px;
                    margin-bottom:15px;
                }
            }
        }
    }
}

#app div.home .navigation a:hover{
    opacity: .6;
    transform:scale(.85,.85);
}

#app > div:not(.home){padding-top:90px;}

#app > div:not(.home) .navigation{
    height: 78px;
    nav{
        padding:1px;
        a{
            position: relative;
            width:25%;
            padding:4px;
            font-size: 18px;
            border-width: 1px;
            box-shadow: inset 0 0 1px #1e1e1e;
            span{
                img{
                    width:40px;
                    margin-bottom:5px;
                    transition:all .2s ease-in-out;
                }
            }
        }
    }
}

#app > div:not(.home) .navigation a::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.44);
    z-index: 10;
}

.navigation a.router-link-active::after{display: none;}
.navigation a.router-link-active img{transform:rotate(360deg);}

.creator h2 span{color:$creator_color;}

.roles li input + label::after{
    content:'';
    position: absolute;
    top:-8px;
    left:-8px;
    width:32px;
    height: 32px;
    opacity: 0;
    background:url('../images/assets/checked.png') no-repeat center;
    transition:all .2s ease-in-out;
    transform:scale(0,0);
}
.roles li input:checked + label::after{
    opacity: 1;
    transform:scale(1,1);
}
.roles li input:checked + label{color:$color_2;}
.roles li input + label img{transition:all .3s ease-in-out;}
.roles li input:checked + label img{transform:rotate(360deg);}