body.rtl{
    direction: rtl;
    font-family: $font_rtl, $font_reset_default;
    font-size: $font_size_4;
}

.rtl p{line-height: 2;}
.rtl input{font-family: $font_rtl;}
.rtl select{
    line-height: 38px;
    font-family: $font_rtl;
    background-position-x: 15px;
}

.rtl ::-webkit-input-placeholder {font-family: $font_rtl;}
.rtl :-moz-placeholder {font-family: $font_rtl;}
.rtl ::-moz-placeholder {font-family: $font_rtl;}
.rtl :-ms-input-placeholder {font-family: $font_rtl;}

.rtl .title h2{
    font-family: $font_rtl;
    font-size: $font_size_medium;
}

.rtl .roles li label,
.rtl .roles li label > div strong span i{
    font-family: $font_rtl;
    font-size: $font_size_6 !important;
}
.rtl .roles li .number-control span{line-height: 34px !important;}

.rtl .start-bttn span{
    padding: 5px 35px 5px 5px;
    margin-top:-4px;
    background-position-x: 99%;
}

.rtl .settings-bttn span{
    padding:3px 31px 5px 5px;
    background-position-x: 99%;
}

.rtl .swap-bttn span{
    padding:3px 28px 5px 5px;
    background-position-x: 99%;
}

.rtl .assign-bttn span{
    padding:3px 33px 3px 5px;
    background-position-x: 99%;
}

.rtl #app .navigation.internal nav a{
    font-family: $font_rtl;
    font-size: $font_size_1;
    &.language-bttn{padding:12px 2px 8px 2px;}
}
.rtl .step-box,
.rtl .page-box{
    h3{
        font-family: $font_rtl;
        font-size: 22px;
    }
    p{font-size: $font_size_3;}
}

.rtl p,
.rtl .info-box p{font-size: $font_size_3 !important;}
.rtl .info-box p{line-height: 1.7;}

.rtl a.bttn{font-size: $font_size_4;}

.rtl .character-power span i{
    line-height: 25px;
    padding-right: 1px;
}

.rtl .creators li a strong{font-size: 24px !important;}

.rtl .error-bullet li{
    text-align: right;
    &::before{
        margin:0 0 0 5px;
    }
}

.rtl .table table tr th{font-size: $font_size_1;}
.rtl .table table tr td:first-child{text-align: right !important;}
.rtl .table table tr td img{margin:0 0 0 4px !important;}

.rtl .table-roles table tr.invisible td:first-child{padding:6px 4px 6px 28px}
.rtl .table-roles table tr.shield td:first-child{padding:6px 4px 6px 28px}

.rtl .predefined{
    right:auto;
    left:16px;
    padding:6px 10px 5px 35px;
}

.rtl .step-box.display .inner-display strong{
    line-height: 1.2;
    font-size: 34px;
    font-weight: bold;
}

.rtl .step-box.display .inner-display .role-info,
.rtl .page-box.display .inner-display .role-info{
    font-family: $font_rtl;
    font-size: $font_size_10;
}

.rtl .priority-box .progress-bar i strong{font-family: $font_rtl;}
.rtl .step-box.display .inner-display strong{font-family: $font_rtl;}

.rtl .dashboard-hint li{font-size: $font_size_2;}

.rtl .player-box-holder{direction: ltr;}

.rtl .table table tr td input{
    line-height: 23px;
    padding-top:3px;
}
.rtl .log-bttn i{
    font-size: 13px;
    line-height: 23px;
}

.rtl table tr td:nth-child(1)::before{
    right:auto;
    left:4px;
}
.rtl table tr.love-bind td:nth-child(1)::before{
    right:auto;
    left:-13px;
}

.rtl .log-table table td:last-child{text-align: right !important;}

.rtl .god .night-actions{font-size: $font_size_2;}

.rtl .dashboard-hint li span{
    padding: 5px 32px 5px 0;
    background-repeat: no-repeat;
    background-position-x: right;
}

.rtl .last-log{
    text-align: right;
    padding:9px 48px 5px 8px;
    background-position-x: 96%;
}

.rtl .overlay.last-night h2{font-size: $font_size_8 !important;}

.rtl .log-events span{margin:0 2px;}

.rtl .priority-box .progress-bar i{
    direction: ltr;
    line-height: 22px;
    font-size: 9px;
}

.rtl .priority-box .progress-bar span{background: linear-gradient(90deg, rgba(219,65,65,1) 0%, rgba(106,34,161,1) 100%);}

.rtl .creators li a strong{font-family: $font_rtl !important;}

.rtl .vue-notification{
    direction: rtl;
    font-family: $font_rtl;
    font-size: $font_size_2 !important;
    border-left:none;
    border-right: 5px solid #187FE7;
}